<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Tweet Feedback</h1>

    <form class="workerid" action="/tweetPage" method="get">
      <label for="workerid">Enter workerid</label>
      <input type="text" name="workerid" >
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
